.square {
    border-radius: 20px;
    background: linear-gradient(225deg, #1d1e1d, #222322);
    box-shadow:  -36px 36px 76px #121212,
             36px -36px 76px #2e302e;
    border: none;
    place-self: center;
    height: 160px;
    width: 160px;
    font-size: 3rem;
    color: var(--x-icon);
    transition: var(--transition);

}

.square:hover {
    cursor: pointer;
    background: var(--btn-hover);
}

img {
    width: 85px;
}

.selected {
    border-radius: 50px;
    background: #0e0f19;
    box-shadow: inset 43px 43px 86px #141414,
            inset -43px -43px 86px #2c2e2c;
}

button:disabled {
    background: #0e0f19;
}